﻿@model _24DH112414_MyStore.Models.ViewModel.HomeProductVM
@using PagedList.Mvc;

<link rel="stylesheet" href="~/Content/SanPham.css" />

@*Hiển thị danh sách sản phẩm*@
@if (Model.NewProducts != null && Model.NewProducts.Any())
{
    <section class="container-fluid listProduct">
        <h2>Sản phẩm mới</h2>
        <ul class="list-container">
            @foreach (var product in Model.NewProducts)
            {
                <li class="lproduct-item">
                    <div>
                        <a href="@Url.Action("ProductDetail", "Home", new { id = product.ProductID })">
                            <img src="@Html.DisplayFor(modelItem => product.ProductImage)" />
                        </a>
                    </div>
                    <div>
                        <p class="prodPrice">@Html.DisplayFor(modelItem => product.ProductPrice)</p>
                        <p class="prodName">@Html.DisplayFor(modelItem => product.ProductName)</p>
                        <p class="prodCate">@Html.DisplayFor(modelItem => product.Category.CategoryName)</p>
                        <p class="prodSale">Đã bán:&nbsp; @Html.DisplayFor(modelItem => product.OrderDetails.Count)</p>
                    </div>
                </li>
            }
        </ul>
    </section>
}
