﻿@model _24DH112414_MyStore.Models.ViewModel.Cart
@using _24DH112414_MyStore.Models.ViewModel
@using _24DH112414_MyStore.Models

@using PagedList.Mvc;
@using PagedList;

<link rel="stylesheet" href="~/Content/SanPham.css" />

@if (Model.SimilarProducts != null && Model.SimilarProducts.Any())
{
    <section class="@*container-fluid*@ listProduct">
        <h2>Sản phẩm tương tự</h2>
        <ul class="list-container">
            @foreach (var product in Model.SimilarProducts)
            {
                <li class="product-item">
                    <div>
                        <a href="@Url.Action("AddToCart", "Cart", new { id = product.ProductID })">
                            <img src="@product.ProductImage" />
                        </a>
                    </div>
                    <div class="prodName" style="min-height:160px;">@product.ProductName</div>
                    <div class="prodPrice">@product.ProductPrice.ToString("N0")&nbsp;VNĐ</div>
                    <div>
                        @Html.ActionLink("Thêm vào giỏ hàng", "AddToCart", "Cart",
                new { id = product.ProductID },
                new { @class = "btn btn-info" })
                    </div>
                </li>
            }
        </ul>
    </section>

    @*Hiển thị phân trang*@
    <div class="pagination-container">
        @Html.PagedListPager(Model.SimilarProducts, page => Url.Action("Index", new { page }))
    </div>
}

