﻿@model _24DH112414_MyStore.Models.ViewModel.Cart

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<style>
    .shoppingcart {
    }
</style>
<script language="JavaScript">
    function cartUpdateQuantity(id, newQuantity) {
        if (newQuantity < 1) return;
        const form = document.createElement('form')
        form.method = 'post';
        form.action = '@Url.Action("UpdateQuantity", "Cart")';

        const idInput = document.createElement('input');
        idInput.type = 'hidden';
        idInput.name = 'id';
        idInput.value = id;
        form.appendChild(idInput);

        const quantityInput = document.createElement('input');
        quantityInput.type = 'hidden';
        quantityInput.name = 'id';
        quantityInput.value = newQuantity;
        form.appendChild(idInput);

        document.body.appendChild(form);
        form.submit();
    }
</script>

<div>
    <h2>GIỎ HÀNG</h2>
    <div class="shoppingcart">
        @if (Model == null)
        {<p>Bạn chưa có sản phẩm nao trong giỏ. </p> }
        else
        {
            <div class="col-md-8">
                <div class="cart-section">
                    @foreach (var categoryGroup in Model.GroupedItems)
                    {
                        <h3>@categoryGroup.Key</h3>
                        <table class="table cart-section">
                            <thead>
                                <tr>
                                    <th colspan="2">Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>
                                    <th title="Xóa tất cả mặt hàng trong giỏ">
                                        <a href="@Url.Action("ClearCart", "Cart", null)">
                                            <img src="~/Images/remove.png" style="max-height:20px;" />
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in categoryGroup)
                                {
                                    <tr>
                                        <td> <img src="@item.ProductImage" alt="@item.ProductName" style="max-height:80px;" />  </td>
                                        <td class="col-md-3">@item.ProductName</td>
                                        <td>
                                            @using (Html.BeginForm("UpdateQuantity", "Cart", FormMethod.Post))
                                            {
                                                <input type="hidden" name="id" value="@item.ProductID" />
                                                <button type="button" style="width: 20px;" onclick="cartUpdateQuantity(@item.ProductID, @item.Quantity - 1)">-</button>
                                                <input type="number" name="quantity" value="@item.Quantity" min="1" max="100" style="width: 40px; text-align:right;" readonly />
                                                <button type="button" style="width:20px;" onclick="cartUpdateQuantity(@item.ProductID, @item.Quantity + 1)">+</button>
                                            }
                                        </td>
                                        <td>@item.UnitPrice.ToString("N0")</td>
                                        <td>@item.TotalPrice.ToString("N0")</td>
                                        <td><a href="@Url.Action("RemoveFromCart", "Cart", new {id = item.ProductID})"><img src="https://e7.pngegg.com/pngimages/748/768/png-clipart-computer-icons-html-waste-bin-white-rectangle.png" style="max-height:20px;" /></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
            <div class="col-md-3 cart-section">
                <div><strong>Tổng giá trị: &nbsp;<span style="color: red;">@Model.TotalValue().ToString("N0")</span></strong> </div>
                <div>@Html.ActionLink("Mua hàng", "Checkout", "Order", null, new { @class = "btn btn-danger cart-button" })</div>
            </div>
        }
    </div>
    <div class="col-md-12 cart-section">
        @Html.Partial("_PVSimilarProduct", Model)
        <div>@Html.ActionLink("Tiếp tục mua hàng", "Index", "Home", null, new { @class = "btn btn-warning cart-button" })</div>
    </div>
</div>

