@model _24DH112414_MyStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    img {
        height: 250px;
        max-width: 200px;
    }
</style>
<h2 class="bg-success">Trang chi tiết sản phẩm</h2>

<div class="container-fluid">
    <div class="div-horizontal">
        <div class="col-md-4">
            <img src=" @Html.DisplayFor(model => model.ProductImage)" />

        </div>
        <div class="col-md-8">
            <dl>
                <dt>
                    Tên sản phẩm
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductName)
                </dd>

                <dt>
                    Mô tả sản phẩm
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductDescription)
                </dd>

                <dt>
                    Đơn giá
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductPrice)
                </dd>

                <dt>
                    Hình ảnh
                </dt>

                <dt>
                    Danh mục sản phẩm
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category.CategoryName)
                </dd>
            </dl>
        </div>

    </div>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Chở về danh sách", "Index", null, new { @class = "btn btn-primary" })
</p>