﻿@using PagedList.Mvc;
@model _24DH112414_MyStore.Models.ViewModel.ProductSearchVM
@{
    ViewBag.Title = "Index";
}
<style>
    img {
        height: 200px;
        max-width: 200px;
    }
</style>
@if (Model.Products != null && Model.Products.Any())
{
    <h2 style="color:white;" class="bg-success">DANH SÁCH MỤC SẢN PHẨM</h2>
    <table class="table bg-info col-md-10">
        <tr>
            <th class="bg-success col-md-1">
                Tên sản phẩm
            </th>
            <th class="bg-success col-md-2">
                Mô tả sản phẩm
            </th>
            <th class="bg-success col-md-1">
                Đơn giá
            </th>
            <th class="bg-success col-md-3">
                Hình ảnh
            </th>
            <th class="bg-success col-md-1">
                Danh mục sản phẩm
            </th>
            <th class="bg-success col-md-3"></th>
        </tr>

        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => product.ProductName)</td>
                <td>@Html.DisplayFor(modelItem => product.ProductDescription)</td>
                <td>@Html.DisplayFor(modelItem => product.ProductPrice)</td>
                <td><img src=" @Html.DisplayFor(modelItem => product.ProductImage)" /></td>
                <td>@Html.DisplayFor(modelItem => product.Category.CategoryName)</td>
                <td>
                    @Html.ActionLink("Cập nhật", "Edit", new { id = product.ProductID }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Xem chi tiết", "Details", new { id = product.ProductID }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = product.ProductID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>

    //Hiển thị phân trang:
    <div class="pagination-container">
        @Html.PagedListPager(Model.Products, page => Url.Action("Index", new { page, searchTerm = Model.SearchTerm, minPrice = Model.MinPrice, maxPrice = Model.MaxPrice, sortOrder = Model.SortOrder }))
    </div>
}
else
{
    <p> Không tìm được trang phù hợp </p>

}
<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>